.upload-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 30px;
  border: 1px solid #ccc;
  border-radius: none;
  background-color: #595960;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
   top: 0;
   z-index: 100;
}
.upload-box span {
  font-size: 18px;
  color: #E2E8F0;
}